@charset "utf-8";
/* CSS Document */

.loginAlerts h3 {
	
}
.loginAlerts fieldset {
	margin: 0 0 10px 0;
	border:none;
}
.loginAlerts label {
	display:block;
	font-weight:bold;
	line-height:1.4;
	color:#000000;
	color:rgba(0, 0, 0.6);	
}
.loginAlerts fieldset:last-child {
	margin:0;
}
.divLogin {
	max-width:  575px;
	min-width:575px;
	max-height:auto;
	background-color:#00BFFF;
	box-shadow:10px 10px 8px  #565353;	
	padding: 20px;  
  	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
  	border-radius: 10px;
  	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);	
	border:3px solid #000000;	
}
#shwPass {
	border:none;
	font-size: 1.2em;
	color:#666;
}
.loginAlerts input[type="text"] {
	text-transform: capitalize;
}
.loginAlerts input[type="email"] {
	text-transform: lowercase;
}
.loginAlerts input[type="text"], 
.loginAlerts input[type="email"],
.loginAlerts input[type="password"]
{
	width:215px;
	padding:5px 8px;
	font-size: 1.2em;
	color:#666;
	border:none;
	
	background-color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0 0 12px rgba(51, 204, 255, 0.5);
	-moz-box-shadow:0 0 12px rgba(51, 204, 255, 0.5);
	box-shadow:0 0 12px rgba(51, 204, 255, 0.5);
} 
.loginAlerts input[type="submit"] {
	padding:8px 15px;
	font-weight:bold;
	line-height:1;
	color:#000000;
	border:none;
	background-color:#fff;
	-webkit-border-radius:23px;
	-moz-border-radius:23px;
	-o-border-radius:23px;
	
	outline:none;
}
.loginAlerts input[type="submit"]:hover {
	color:#00BFFF;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	
}
.vr {
	width:2px;
	background-color:#000000;
	height:300px;
	margin:25px;
	
}
#mid {
	text-align:center;
}